<h1>My Home Page</h1>


<p>The params can come from:</p>
<ul>
  <li>
    The url: /restaurants/:id =? /restaurants/1
    <br>
    params = { id: 1 }
  </li>
  <li>
    The query string: /contact?member=julien
    <br>
    params = { member: "julien" }
  </li>
  <li>
    The body: ... => form inputs
    <br>
    params = { first_name: "Valerie", last_name: "Schraauwers"}
  </li>
</ul>
